.ToDoForm {
    margin: 0 auto;

    form {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    &__input {
        padding: 8px;
        border: 1.4px solid #34c9eb;
        border-radius: 5px;
        color: #000000;
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 10px;
        font-family: "Roboto", sans-serif;

        &_description {
            min-height: 100px;
            resize: none;
        }
    }

    &__select-submit {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__select {
        font-size: 16px;
        line-height: 16px;
        cursor: pointer;
        font-family: "Roboto", sans-serif;

        &_waiting {
            color: #89A7A7;
        }

        &_pending {
            color: #30C5FF;
        }

        &_complete {
            color: #3BB19F;
        }
    }

    &__submit {
        height: 30px;
        width: 100px;
        font-size: 16px;
        line-height: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: "Roboto", sans-serif;
        animation-duration: 300ms;
        animation-name: reverseSubmitHover;
        animation-fill-mode: forwards;

        @keyframes reverseSubmitHover {
            from {
                background-color: #34c9eb;
                color: #ffffff;
            }
            to {
                background-color: #F0F0F0;
                color: #000000;
            }
        }

        &:hover {
            animation-duration: 300ms;
            animation-name: submitHover;
            animation-fill-mode: forwards;

            @keyframes submitHover {
                from {
                    background-color: #F0F0F0;
                    color: #000000;
                }
                to {
                    background-color: #34c9eb;
                    color: #ffffff;
                }
            }
        }
    }

    &__error {
        padding-top: 10px;
        color: #FF0000;
    }
}
