.ToDoList__search {
    margin: 0 auto;
    padding-bottom: 15px;
    color: #000;
    position: relative;

    input {
        width: 280px;
        padding: 8px;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        line-height: 18px;
        border-radius: 5px;
    }
}
